{% extends "quiz_app/base.html" %}
{% block container%}
    <div class="jumbotron">
        <h2 class="display-5">Question {{question_number}}</h2>
        <hr class="my-4">
        <h4 class="display-9">{{question.question_text}}</h4>
        <p class="text-muted">       
            Marking Scheme:
            Correct: {{question.c_marks}}
            Incorrect: {{question.ic_marks}}
            Type: {{question.type}}
        </p>
        <hr>
        <p>Given Answer: {{response.choice_text}}</p>
        <p>Correct Answer: {{correct_choice.choice_text}}</p>
        {% if status == "C"%}
            <p class="text-success">Status : Correct</p>
        {%endif%}
        {% if status == "IC"%}
            <p class="text-danger">Status : Incorrect</p>
        {%endif%}
        {% if status == "UA"%}
            <p class="text-warning">Status : Unattempted</p>
        {%endif%}
        {% if islastquestion %}
        <a href="{% url 'quiz:view-quiz-response' quiz_id last_question%}" class="btn btn-success">Previous Question</a>
        {%else%}
            {% if last_question > 0%}
                <a href="{% url 'quiz:view-quiz-response' quiz_id last_question%}" class="btn btn-success">Previous Question</a>
                <a href="{% url 'quiz:view-quiz-response' quiz_id next_question%}" class="btn btn-success">Next Question</a>
            {%else%}
                <a href="{% url 'quiz:view-quiz-response' quiz_id next_question%}" class="btn btn-success">Next Question</a>
            {%endif%}
        {%endif%}
        <a href="{% url 'quiz:quiz-home'%}" class="btn btn-danger">Go Home</a>
    </div>
{% endblock container %}