{% extends "quiz_app/base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block container %}
    {% if user.is_authenticated %}
    <div class="content-section"><p>Welcome, You are logged in as {{ user.username }}</p></div>
    {% else %}
    <div class="content-section">
        <a href="{% provider_login_url 'google' %}?next=/" class="btn btn-danger mb-5 mt-5">Login With Google</a>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
    {%endif%}
{% endblock container %}